.conteiner { 
    /* background-color: rgb(19, 17, 17); */
    background-color: black;
    box-sizing: border-box;  
    position: fixed;   
    width: 100%;
    
   

    
}

.conteiner_header {
    display: flex;   
}

/* logo */
.conteiner_logo img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    display: flex;
}
.conteiner_logo {
    flex-grow: 1;
    width: 100px;
    height: 100px;
    
}
/*hamburguer*/
.hamburguer_menu {
  display: flex;
  margin: 0 50px;
    
    
    
}
  
.hamburguer_icon {
    background-color: transparent;
    color: green;
    border: none;
    cursor: pointer;
    display: none;
    align-items: center;
}
  
.hamburguer_menu nav {
    position: absolute;
    top: 100px; /* Ajuste conforme necessário */
    right: 0;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 40px;
    display: none;
    
    
   
}
  
.hamburguer_menu ul {
    list-style-type: none;
    padding: 0;
    
    
}
  
.hamburguer_menu li {
    padding: 5px 0;
    
}
.hamburguer_menu li a {
  text-decoration: none;
  list-style-type: none;
  color: green;
  
  
}
  /* menu principal */

.menu_principal {
    
    display: flex;
    flex-grow: 2;
}
.menu_principal nav {
    
    flex-grow: 1;
    align-self: center;

}
.menu_principal ul {
    
    display: flex;
    margin: 0;
    justify-content: space-around;
}
.menu_principal li {
    
    list-style-type: none;
    margin: 0;
}
.menu_principal li a {
    
    text-decoration: none;
    color: rgb(108, 224, 108);
}
/* medias querys */
@media screen and (max-width: 800px) {

  .hamburguer_icon {
    display: flex;
  }
  .menu_principal {
    display: none;
  }
  .hamburguer_menu nav {
    display: block;
  }
}