
.hamburger-menu {
    position: relative;
  }
  
  .hamburger-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .menu {
    position: absolute;
    top: 50px; /* Ajuste conforme necessário */
    right: 0;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    z-index: 1000;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu li {
    padding: 5px 0;
  }
  
  