.conteiner {
    background-color: aqua;
  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    

    
    
}
.conteiner_filho {
    flex: 1;
    border-style: solid;
    margin: 0;
    padding: 20px;
    
    
}
.conteiner_filho h3 {
    text-align: center;
    border-style: solid;
    padding: 10px;
    -webkit-line-clamp: 1;
    
    
    
}