.conteiner {
    background-color: #749C6F;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 4rem 0 
    
    
}
.conteiner_texto {
    
    
    
}
.conteiner_texto h1 {
    text-align: center;
    padding: 30px;
    color: white;
    font-family: "Raleway", sans-serif;
}
.conteiner_texto p {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
   
    padding: 30px;
    width: 100%;
    color: #fff;
    margin: 0 auto; /* Centralize o parágrafo horizontalmente */ 
    
}
.conteiner_img {
    padding: 3rem 3rem;
    width: 300px;
    height: 300px;

}
.conteiner_img img {
    width: 100%;
    height: 100%;
    margin: 0;
}
