.conteiner {
    background-color: #A9A9A9;
    padding: 6rem 0 6rem;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "main main sidebar sidebar"
    ". . . .";
}

.conteiner h1 {
    grid-area: header;
    text-align: center;
    padding: 30px;
    color: white;
    font-family: "Raleway", sans-serif;
}
.conteiner p {
    grid-area: main;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
   
    padding: 30px;
    width: 100%;
    color: #fff;
    margin: 0 auto; /* Centralize o parágrafo horizontalmente */ 
    
}
.conteiner_img {
    grid-area: sidebar;
    padding: 3rem 3rem;
    width: 300px;
    height: 300px;

}
.conteiner_img img {
    width: 100%;
    height: 100%;
    margin: 0;
}
.conteiner span {
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 700px) {

    .conteiner {
        display: grid;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header header"
        "main main main main"
        ". sidebar sidebar .";
    }  
}
@media screen and (max-width: 300px) {

    .conteiner_img {
        display: none;
    }
}
@media screen and (min-height: 1500px ) {
    .conteiner p {
        font-size: 2vw;
    }
    .conteiner h1 {
        font-size: 4vw;
    }
    .conteiner_img {
        
        width: 30vw;
        height: 30vw;
    
    }
    .conteiner_img img {

        width: 25vw;
    }
}