.conteiner_banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(108, 224, 108); 
    /* background-image: url('../../../assets/bannerfundo6.jpg'); */
    flex-wrap: wrap;
    background-size: cover;

} 
.conteiner_banner picture {
    width: 40vw;

}
.conteiner_banner img {
     width: 100%;
}

.conteiner_banner h1 {
    
    white-space: nowrap;
    margin: 0;
   
}
.conteiner_banner h3 {
    
    margin: 0;
}

.conteiner_titulo {
    
    padding: 3%;
}