.conteiner_banner {
    display: flex;
    align-items: center;
    border-style: solid;
    justify-content: space-around;
    background-color: rgb(108, 224, 108);
    

} 
.conteiner_banner img {
    border-style: solid;
    width: 100%;
    

}

.conteiner_banner h1 {
    border-style: solid;
   
    
    
   
}