.conteiner {
    background-color: #212222;
    margin-top: 30px;
    padding: 4rem 0;
    box-sizing: border-box;
    /* box-shadow: 4px 4px 6px 4px #212222 */
    
    
    


}
.conteiner_icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10vw;
    
    
    
    
}
.conteiner h1 {
    color: #A1AF9F;
    text-align: center;
    
   
    
}

.conteiner_item {
    
   padding: 20px;
   box-shadow: 4px 4px 6px 4px black;
   margin: 10px 10px 10px 0;
  

   
    
}
.conteiner_item:hover {
    
    
    box-shadow: 2px 2px 3px 2px black;
    
   
 
    
     
 }
.conteiner_item h3 {
    margin: 0;
    text-align: center;
    color: #A1AF9F;
}
.conteiner_item img {
    max-width: 100%;
    max-height: 100%;
}