.conteiner {
    background-color: #212222;
    padding: 6rem 0 8rem;

    
}
.conteiner_icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10vw;
    
}

.conteiner h1 {
    color: #A1AF9F;
    text-align: center;
   
}

.conteiner_item {
    
   padding: 20px;
   box-shadow: 4px 4px 6px 4px black;
   margin: 10px 10px 10px 0;
  
    
}
.conteiner_item:hover { 
    
    box-shadow: 2px 2px 3px 2px black;
    
     
 }
.conteiner_item h3 {
    margin: 0;
    text-align: center;
    color: #A1AF9F;
    background-color: #00592F;
}

.icon {
    color: #00592F;
}